py>=1.11.0
pluggy==1.6.0
pytest==8.4.2
pytest-cov==7.0.0
flake8==7.3.0
requests-mock==1.12.1
Sphinx<9
sphinx_rtd_theme==3.0.2
lxml==6.0.2
requests==2.32.5
xmlschema==4.1.0
jinja2==3.1.6
click<8.4
setuptools==80.9.0
-e .
