py>=1.5.0
tox==3.15.1
pluggy==0.13.1
pytest==4.6.1
pytest-cov==2.9.0
flake8==3.8.3
requests-mock==1.8.0
Sphinx==1.5.6
sphinx_rtd_theme==0.5.0
sphinxcontrib-versioning==2.2.1
lxml==4.5.1
defusedxml==0.5.0
requests==2.24.0
-e .
